################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Prometheus-DotNetCore/.vs/Prometheus-DotNetCore/v15
